@import url(AboutMe.css);
@import url(Portfolio.css);
@import url(Contact-footer.css);

html{
    font-size: 62.5%;
}

body{
    font-family: "Yanone Kaffeesatz", sans-serif !important;
}
/*----------------------------------------------HEADER----------------------------------------------*/
header.container-fluid{
    width: 100%;
    height: 550px;
    flex-direction: column;
    color: white;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    Object-fit: cover;
    background-attachment: fixed;    
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/16-05-2017/vitae-demo_Free/1275443431/web/images/1.jpg);
}

header.container-fluid h1{
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
}

header.container-fluid h3{
    font-size: 2.4rem;
    margin: 2rem 0 2.8rem 0 ;
    
}

header.container-fluid p{
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 3rem;
    
    letter-spacing: 3px;
    font-weight: 300;
}

header.container-fluid button {
    color: white;
    width: 12rem;
    height: 4rem;
    border: 2px solid #ce7501;
    
    text-transform: uppercase;
    font-size: 2.1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    background-color: transparent;
}

header.container-fluid button:hover {
    border: 2px solid #ce7501;
    background: #fff;
    color: #000;
}


.social-icons ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 40px;
}

.social-icons ul li a {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-icons ul li a:hover{
    border: 2px solid #ce7501;
    
}

@media (min-width: 500px){

    header.container-fluid{
        
        height: 700px;
    }

    header.container-fluid h1{
        font-size: 7rem;
    }
    
    header.container-fluid h3{
        font-size: 3rem;
    }
    
    header.container-fluid p{
        font-size: 1.8rem;
    }

    header.container-fluid button {
        color: white;
        width: 20rem;
        height: 4rem;
}
}

/*------------------FOOTER-------------------*/

footer{
    height: 60px;
}

footer p{
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 0;
    
}